*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: 'Forum';
    font-weight: normal;
    white-space: nowrap;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.06);
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.7s 0.5s ease-out forwards;
}

.flex-haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 2vh 0 2vh 0;
    position: relative;
}

.etoiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6%;
    position: absolute;
    left: 50%;
}

.etoile {
    height: 2.5vh;
}

.separateur1 {
    height: 1px;
    width: 100%;
    background-color: #c1d6e3;
}

.logo {
    height: 25vh;
    margin: 6vh 0 5vh 0;
}

.separateur2 {
    height: 1px;
    width: 70%;
    background-color: #c1d6e3;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 3vh 0 3vh 0;
}

header a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.78rem;
    letter-spacing: 0.18rem;
    display: flex;
    transition: all 0.2s ease;
}

.actif {
    font-weight: bold;
}

header a:not(.actif):hover,
.actif {
    color: #0073ad;
    transition: all 0.2s ease;
}

.separateur-vertical {
    width: 1px;
    height: 2vh;
    background-color: rgb(112, 144, 192);
}

.iconinfo,
.cal {
    height: 2.5vh;
}

.cal {
    margin-right: 0.8em;
}

.resalien {
    display: flex;
    align-items: center;
}

.hamburger,
.navresp {
    display: none;
}

/* ----------SLIDER----------*/
.slider{
    position: relative;
    width: 100%;
    height: 80vh;
    opacity: 0;
    transform: translateX(-30px);
    animation: apparition 1s 0.8s ease-out forwards;
}

.slider-txt {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    max-width: 60%;
    opacity: 0;
    transform: translateX(-30px);
    animation: apparition 0.7s 1.2s ease-out forwards;
    position: absolute;
    top: 30%;
    color: white;
}

.grostxt {
    font-size: 6rem;
    font-family: 'Forum';
}

.petittxt {
    font-weight: 400;
    letter-spacing: 0.15rem;
}

.slide {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.slide.active {
    opacity: 1;
    transition: opacity 0.5s;
}

.suivant,
.precedent {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    cursor: pointer;
    opacity: 0.4;
}

.suivant:hover,
.precedent:hover {
    opacity: 1;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}


/* --------MAIN-------- */

main {
    height: auto;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5em;
}

.bienvenue {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 3em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.bienvenue-bg {
    width: 90%;
    height: 135%;
    background-color: rgb(230, 246, 255);
    position: absolute;
    top: -20%;
    left: 20%;
    z-index: -1;
}

h1 {
    font-size: 4rem;
    margin: 0.5em;
}

.bienvenue h1 {
    width: 70%;
    font-size: 6rem;
    margin: 0.2em 0;
}

.bienvenue p {
    text-align: justify;
    font-size: 1.1rem;
    margin-bottom: 1em;
}

/* ----Nouvelles chambres----- */

.chb-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.chb-container {
    width: 45%;
    height: fit-content;
}

.chb-img-cont {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.chb-img-cont img {
    width: 100%;
    transform: scale(1.1);
    transition: all 0.3s;
}

.chb-img-cont img:hover {
    transform: scale(1.01);
    transition: all 0.3s;
}

.flex-chb-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5em;
    margin: 0.5em 0 0.5em 0;
}

.flex-case {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.flex-case h2 {
    font-size: 2rem;
}

.chb-container span {
    font-weight: 600;
    color: rgb(112, 144, 192);
}

.resa-bouton {
    display: flex;
    color: white;
    text-decoration: none;
    background-color: #e7d0a2;
    letter-spacing: 0.05em;
    margin-top: 0.8em;
    height: 2em;
    width: 7.5em;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    transition: all 0.2s;
}

.voirchb {
    display: flex;
    color: white;
    text-decoration: none;
    background-color: #e7d0a2;
    letter-spacing: 0.05em;
    margin-top: 0.8em;
    height: 2em;
    width: 14em;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    transition: all 0.2s;
}

.voirchb-gauche {
    width: 100%;
    display: flex;
    justify-content: end;
}

.resa-bouton:hover,
.voirchb:hover {
    background-color: rgb(112, 144, 192);
    color: white;
    transition: all 0.2s;
}

/* ------Nos services------ */

.nos-services h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.nos-services img {
    width: 10em;
}

.flex-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.serv {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.serv-txt {
    flex-direction: column;
    text-align: justify;
    justify-content: center;
} 

/* ------Tourisme------ */
.tourisme {
    width: 100%;
    margin-bottom: 2em;
}

.tourisme h2 {
    font-size: 2.4rem;
    margin-bottom: 0.2em;
    white-space: normal;
}

.slidert{
    position: relative;
    width: 100%;
    height: 80vh;
    opacity: 0;
    transform: translateX(-30px);
    animation: apparition 1s 0.8s ease-out forwards;
}


.slidet {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    padding: 0 10%;
}

.slidet.active {
    opacity: 1;
    transition: opacity 0.5s;
}

.slidet-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 20%;
}

.slidet img {
    max-width: 50%;
}

.slidet-txt p {
    font-size: 1.2rem;
    text-align: justify;
}

.suivantt,
.precedentt {
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    cursor: pointer;
    opacity: 0.4;
}

.suivantt:hover,
.precedentt:hover {
    opacity: 1;
}

.suivantt {
    right: 1rem;
}

.precedentt {
    left: 1rem;
}



/* ------Footer------ */

footer {
    height: 20vh;
    background-color: #003753;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
}

/* -------apparition------- */
@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}


@media screen and (max-width: 1280px) {

    .nav,
    .resalien,
    .separateur2 {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .logo {
        min-height: 17vh;
    }


    .chb-wrap {
        flex-wrap: wrap;
    }

    .nav-item {
        display: block;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.18rem;
        transition: all 0.2s ease;
        margin-left: 10%;
    }

    .nav-item:not(.actif):hover,
    .actif {
        color: #0073ad;
        transition: all 0.2s ease;
        font-weight: 600;
    }

    .hamburger {
        display: block;
        z-index: 100;
        cursor: pointer;
    }

    .close-icon {
        display: none;
    }

    .navresp {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100vw;
        height: 100%;
        position: fixed;
        transform: translateX(-200%);
        transition: transform 0.7s ease-out;
        z-index: 99;
        background: white;
        color: black;
        margin: 0;
        padding: 0;
    }

    .show-nav {
        transform: translateX(0);
    }

    .grostxt {
        font-size: 4.5rem;
    }

    main h1 {
        font-size: 3rem;
    }

    .bienvenue-bg {
        display: none;
    }

    .bienvenue {
        flex-direction: column;
    }

    .flex-case h2 {
        font-size: 1.6rem;
    }

    .serv {
        width: fit-content;
    }

}


@media screen and (max-width: 1040px) {
.slidet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0;
    margin: 0;
}

.slidet-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 0;
}

.slidet img {
    width: 100%;
    margin: 0;
}
}

@media screen and (min-width: 1280px) {
    .nav {
        display: flex;
    }
}